.education-container {
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
  }
  
  .education-table {
    max-height: 300px;
    overflow-y: auto;
    display: block;
  }
  