.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 10px;
  padding: 4px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.skills-container .card {
  flex: 1 1 calc(25% - 40px); /* Adjust the percentage to control the number of cards per row */
  max-width: 18rem;
  transition: box-shadow 0.3s ease; /* Add transition for smooth shadow effect */
}

.skills-container .card:hover {
  box-shadow: 0 4px 8px rgba(128, 0, 128, 0.5); /* Purple shadow on hover */
}

.card-img-top {
  width: 50px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  object-fit: contain; /* Ensure the image fits within the specified dimensions */
}
